.large-nav .container-fluid {
  flex-direction: column;
}

.top-sect .inside-bg {
  height: auto;
}

main .top-sect .inside-bg {
  width: 80%;
}

.navbar-brand {
  padding-bottom: 10px;
}

.navbar-nav li i {
  font-size: 18px;
}

.navbar-nav li a span {
  display: none;
}

main .top-sect .welcome-msg {
  font-size: 20px;
}

.top-sect {
  height: auto;
}

.top-sect .inside-bg .container-fluid .my-table {
  flex-direction: column;
}

.top-sect .inside-bg .container-fluid .my-table .card {
  width: 80%;
  min-height: 50px;
  margin: 20px auto;
}

footer .first-list a {
  font-size: 10px;
}

footer .top-footer {
  flex-direction: column;
}

.footer-item {
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer-item small {
  margin-left: 18px;
}
