@import "./flex-prop";
@import "./variables";

* {
  box-sizing: border-box;
}

.large-nav {
  min-height: 50px;
  background: red;
  position: fixed;
  width: 100%;

  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .navbar-nav {
      display: flex;
      flex-direction: row;

      li {
        padding-right: 10px;
        padding-left: 10px;

        a {
          color: $main-color;
          font-family: $main-font;
          font-weight: 700;
        }
      }
    }
  }
}

.navbar-brand img {
  height: 35px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top-sect {
  @include flex-prop(column);
  background: $main-color;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .inside-bg {
    background: $main-color;
    width: 70%;
    min-height: 500px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container-fluid {
      h2 {
        color: #fa2e2e;
      }

      .my-table {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
          width: 48%;
          min-height: 45px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          margin-bottom: 20px;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          font-family: $main-font;

          &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

.buy-btn {
  padding: 10px;
  background: blue;
  color: $main-color;
  width: 77.7px;
  float: right;

  .envelope {
    color: $main-color;
  }
}

.container-footer {
  margin: 60px auto;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    li {
      padding-left: 10px;
    }
  }
}

.bottom-sect {
  @include flex-prop(row);

  height: 50vh;
  background: $main-color;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
  flex-wrap: wrap;

  .about-layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    padding-top: 0;
    margin: auto;

    .biz-art {
      flex: 1;
      padding: 20px 50px;
      text-align: justify;

      p {
        font-family: $main-font;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.search-hd {
  font-size: 20px;
  font-family: $main-font;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px;
  background: #b8b8b8;
  min-height: 120px;
}

footer {
  height: 200px;
  background: #000;
  margin: 0 auto;

  .first-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-top: 20px;

    a {
      color: $main-color;
      padding: 0 25px;

      &:hover {
        font-weight: bolder;
      }
    }
  }

  .top-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.footer-logo img {
  height: 22px;
}

.footer-item {
  box-sizing: border-box;
  width: 28%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;

  a {
    color: $main-color;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 900;
  }

  small {
    color: $main-color;
    font-size: x-small;

    a {
      color: red;
      font-size: x-small;

      &:hover {
        color: red;
        font-size: small;
        font-weight: 600;
      }
    }

    input {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar-nav {
    li {
      i {
        font-size: 20px;
      }
      span {
        display: none;
      }
    }
  }

  footer {
    .first-list {
      a {
        font-size: 12px;
      }
    }

    .top-footer {
      flex-direction: column;
    }
  }

  .footer-item {
    flex-direction: row;
    width: 100%;
    justify-content: center;

    small {
      margin-left: 15px;
    }
  }
}
