* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  margin-top: 120px;
}

.large-nav {
  min-height: 50px;
  background: red;
  position: fixed;
  top: 0;
  width: 100%;
}

.large-nav .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.large-nav .container-fluid .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.large-nav .container-fluid .navbar-nav li {
  padding-right: 10px;
  padding-left: 10px;
}

.large-nav .container-fluid .navbar-nav li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.navbar-brand img {
  height: 35px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top-sect {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #b8b8b8;
  height: 60vh;
}

.top-sect .inside-bg {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  justify-content: center;
}

.top-sect .inside-bg label {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.top-sect .inside-bg .my-option {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 20vh;
}

.top-sect .welcome-msg {
  color: #fff;
  font-weight: bolder;
  margin-top: 40px;
}

.bottom-sect {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 50vh;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.bottom-sect .sect-item {
  width: 20%;
  min-height: 50vh;
  background: #fa2e2e;
  border-radius: 5px;
  min-height: 250px;
  padding: 20px;
  margin: auto;
}

.bottom-sect .sect-item p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
}

.bottom-sect .sect-item p a {
  color: #fff;
}

.bottom-sect .sect-item p a:hover {
  font-weight: bolder;
}

.bottom-sect .sect-item small {
  color: #fff;
}

.about-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  padding-top: 0;
  margin: auto;
}

.about-layout .biz-art {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 50px;
  text-align: justify;
}

.about-layout .biz-art p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.search-hd {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-top: 80px;
}

footer {
  min-height: 200px;
  background: #000;
  margin: 0 auto;
}

footer .first-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

footer .first-list a {
  color: #fff;
  padding: 0 25px;
}

footer .first-list a:hover {
  font-weight: bolder;
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-logo img {
  height: 22px;
}

.footer-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}

.footer-item a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.footer-item small {
  color: #fff;
  font-size: x-small;
}

.footer-item small a {
  color: red;
  font-size: x-small;
}

.footer-item small a:hover {
  color: red;
  font-size: small;
  font-weight: 600;
}

.footer-item small input {
  width: 50%;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar-nav li i {
    font-size: 20px;
  }
  .navbar-nav li span {
    display: none;
  }
  .top-sect .inside-bg {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    justify-content: center;
  }
  .top-sect .inside-bg label {
    font-weight: 600;
    font-size: 15px;
  }
  .top-sect .inside-bg .single-opt {
    display: none;
  }
  .top-sect .welcome-msg {
    margin-top: 35px;
  }
  .bottom-sect {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottom-sect .sect-item {
    width: 40%;
  }
  footer .first-list a {
    font-size: 12px;
  }
  footer .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-item small {
    margin-left: 15px;
  }
}
/*# sourceMappingURL=search.css.map */